.text-field-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0px;
  }
  
  .text-field-container input {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 5px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .text-field-container input::placeholder {
    color: rgba(183, 206, 206, 1);
  }
  
  .text-field-container label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 5px;
  }