.container{
    display: flex;
}

.grid-item {
    /* This is the selector for all children of grid-main */
    border-radius: 15px;
    border: solid 1px black;
    height: var(--item-size);

    flex-direction: column;
    align-items: center;
    justify-content: center;
}