body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #820065;
  color: white;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.footer-left {
  font-size: 18px;
}

.footer-left p {
  margin: 0;
  text-align: start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #820065;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-left img {
  margin-right: 30px;
}

.header-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.header-right img {
  margin-left: 30px
}

.header-button {
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #820065;
  padding: 5px 15px;
  margin-right: 30px;
}