
.header {
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #820065;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .header-left img {
    margin-right: 30px;
  }
  
  .header-right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
  
  .header-right img {
    margin-left: 30px
  }
  
  .header-button {
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #820065;
    padding: 5px 15px;
    margin-right: 30px;
  }